<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='/css/errors.css')}}"
    />
    <style>
      body {
        text-align: center;
        align-items: center;
        background-color: rgb(47, 47, 49);
        color: red;
      }
      h3 {
        font-size: 50px;
        margin-top: 20%;
      }
      p{
          color:white;
          font-size: 20px;
      }
      a{
          color:green;
      }
    </style>
  </head>
  <body>
    <h3>Hello Danger</h3>
    <p>Page you requested cannot be found please go back to home page</p>
    <p>
      <a href="/">Click Here</a>
    </p>
  </body>
</html>
